.i4-bar {
	position: fixed;
	z-index: 10;
	right: 0;
	left: 0;
	height: 50px;
	margin: 0;
	padding: 0;
	border-bottom: 0;
	background: #236ee7;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.i4-bar-nav {
	top: 0;
	-webkit-box-shadow: 0 1px 6px #ccc
	box-shadow: 0 1px 6px #ccc;
}
